<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <!-- Web Word Game-Infinite Arrow Tower -->
    <title>Infinite Arrow Tower</title>
</header>

<body>    
    <div id="app">
        網頁文字遊戲-無限箭塔-ver:{{ver}}
        <div id="StatusBar" v-show="state>0">
            金錢:{{Money}} 目前關卡:{{Level}}<button @click="Save">存檔</button><br>
            <button @click="UpAtkPlus">升級箭(目前價格:{{(AtkPlus+1)*10}})</button><br>
            <button @click="UpAtkTechnology">升級弓(目前價格:{{(AtkTechnology+1)*100}})</button><br>
            <button @click="UpQuantity">建造箭塔(目前價格:{{Quantity*1000}})</button><br>
            目前上彈速度:{{AtkSpeed-ASPlus}}s/發
            <button @click="UpASPlus" v-if="ASPlus<9">訓練上彈速度(目前價格:{{ASPlus*ASPlus*ASPlus*ASPlus*ASPlus+(((ASPlus*ASPlus)+1)/2)*999}})</button>
            <p v-else>訓練上彈速度(已達上限)</p>
            <br>
            當前傷害:{{(((Atk + AtkPlus*0.75) * (1+AtkTechnology)) *Quantity)/(AtkSpeed-ASPlus)}}/s
            <br>
            怪物剩餘血量:{{MonsterLife}}
        </div>
        <div v-show="state==0">
            <button @click="Start">開始遊戲</button>
            <button @click="Load" v-if="PlayExperienceC()">讀取(紀錄僅保存30日)</button>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js'></script>
    <script>
        function SetCookie(name, value) {
            // console.log(name + value)
            let Days = 30; //此 cookie 將被儲存 30 天
            let exp = new Date(); //new Date("December 31, 9998");
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = name + "=" + escape(value) + ";expires=true," + exp.toGMTString();
            // console.log(name + "=" + escape(value) + ";expires=true," + exp.toGMTString())
        }

        function getCookie(name) {
            var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
            if (arr != null) return unescape(arr[2]);
            return null;
        }
        
        let vm = new Vue({
            el: app,
            data: {
                state: 0,
                Money: 150,
                Atk: 1,
                AtkPlus: 0,
                AtkTechnology: 0,
                AtkSpeed: 10,
                ASPlus: 0,
                Level: 1,
                Quantity: 1,
                MonsterLife: 10,
                PlayExperience:0,
                TimeName:0,
                ver:"1.1",
            },
            methods: {
                Save() {
                    SetCookie("Money", this.Money)
                    SetCookie("AtkPlus", this.AtkPlus)
                    SetCookie("AtkTechnology", this.AtkTechnology)
                    SetCookie("ASPlus", this.ASPlus)
                    SetCookie("Level", this.Level)
                    SetCookie("Quantity", this.Quantity)
                    SetCookie("PlayExperience", 1)
                },
                Load() {
                    this.Money = Number(getCookie("Money"))
                    this.AtkPlus = Number(getCookie("AtkPlus"))
                    this.AtkTechnology = Number(getCookie("AtkTechnology"))
                    this.ASPlus = Number(getCookie("ASPlus"))
                    this.Level = Number(getCookie("Level"))
                    this.Quantity = Number(getCookie("Quantity"))
                    this.Start()
                },
                Start() {
                    this.state += 1
                    this.EveryRound()
                    this.TimeSet()
                },
                TimeSet(){
                    window.clearInterval(this.TimeName)
                    let a=window.setInterval(() => {
                        setTimeout(() => {
                            this.RoundDo()
                        }, 0)
                    }, 1000*(this.AtkSpeed-this.ASPlus))
                    this.TimeName=a
                },
                EveryRound() {
                    let life=0
                    let Level=this.Level
                    if (Level>100){
                        life+=3000 * (Level-Level%100)/100
                    }
                    if (Level>10){
                        life+=200 * (Level-Level%10)/10
                    }
                    life+=10 * Level
                    this.MonsterLife = life

                },
                RoundDo() {
                    this.MonsterLife = this.MonsterLife - ((this.Atk + this.AtkPlus*0.75) * (1+this.AtkTechnology)) *
                        this.Quantity
                    if (this.MonsterLife <= 0) {
                        this.Money += this.Level * 10
                        this.Level += 1
                        this.EveryRound()

                    }
                },
                UpAtkPlus(){
                    if(this.Money >= (this.AtkPlus+1)*10)
                    {
                        this.Money=this.Money-(this.AtkPlus+1)*10
                        this.AtkPlus+=1
                    }
                    else{
                        alert("你的金錢不足")
                    }
                },
                UpAtkTechnology(){
                    if(this.Money >= (this.AtkTechnology+1)*100)
                    {
                        this.Money=this.Money-(this.AtkTechnology+1)*100
                        this.AtkTechnology+=1
                    }
                    else{
                        alert("你的金錢不足")
                    }
                },
                UpQuantity(){
                    if(this.Money >= this.Quantity*1000)
                    {
                        this.Money=this.Money-this.Quantity*1000
                        this.Quantity+=1
                    }
                    else{
                        alert("你的金錢不足")
                    }
                },
                UpASPlus(){
                    let ASPlus=this.ASPlus
                    let ASPCost=ASPlus*ASPlus*ASPlus*ASPlus*ASPlus+(((ASPlus*ASPlus)+1)/2)*999
                    if(this.Money >= ASPCost)
                    {
                        this.Money=this.Money-ASPCost
                        this.ASPlus+=1
                        this.TimeSet()
                    }
                    else{
                        alert("你的金錢不足")
                    }
                },
                PlayExperienceC(){
                    if(getCookie("PlayExperience")!=null)
                    {
                        // console.log("有")
                        return true
                    }
                    // console.log("無")
                    return false
                }
                

            },
        })
        // (function () {
        //     console.log(1)
        //     vm.PlayExperience=getCookie("PlayExperience")
        // }())
    </script>
</body>

</html>